<nav class="navbar navbar-expand navbar-light bg-light border-bottom fixed-top">
    <div class="container align-items-center">
        <a class="navbar-brand mb-0 h1" routerLink="/"><i class="bi bi-calculator"></i> Symptomkalkulator</a>
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item" *ngFor="let val of navData">
                <a class="nav-link"
                   *ngIf="!val.needsAuth || loggedIn"
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{exact:true}"
                   routerLink="{{val.routeString}}">
                    {{val.linkText}}
                </a>
            </li>
        </ul>
        <ng-container *ngIf="!loggedIn">
            <span class="mx-3 text-muted">Not logged in</span>
            <button class="btn btn-primary btn-sm" routerLink="login">Log in</button>
        </ng-container>
        <ng-container *ngIf="loggedIn">
            <span class="mx-3 text-muted">Logged in as <strong>{{username}}</strong></span>
            <button *ngIf="loggedIn" class="btn btn-danger btn-sm" (click)="logOut()">Log out</button>
        </ng-container>
    </div>
    <div>

    </div>
</nav>
