<nav class="navbar navbar-expand navbar-light bg-light border-bottom fixed-top">
    <div class="container align-items-center">
        <a class="navbar-brand mb-0 h1" routerLink="/"><i class="bi bi-calculator"></i> Symptomkalkulator</a>
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item" *ngFor="let val of navData">
                <a class="nav-link"
                   *ngIf="!val.needsAuth || loggedIn"
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{exact:true}"
                   routerLink="{{val.routeString}}">
                    {{val.linkText}}
                </a>
            </li>
        </ul>
        <a *ngIf="!loggedIn" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="login">Log in</a>
        <a *ngIf="loggedIn" class="nav-link pointer" (click)="logOut()">Log out</a>
    </div>
    <div>

    </div>
</nav>
